@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');




#headBanner {
    background-color: #A35B5B;
    width: 100%;
    height: 10em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 1rem;
    padding-right: 1.1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
height: 8em;
padding-left: 2em;
margin-right: 2em;
}

#title {
    font-size: 3em;
    color: white;
    padding-right: 0.5em;
    font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
}




 /* version mobile fiche wilder */
@media screen and (max-width:375px) {

   body{
     background: -moz-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
    background: -webkit-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
    background: linear-gradient(to bottom, #FAFFFC 0%, #A35B5B 100%, #A35B5B 100%);
   }
    
    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 10em;
        margin-left: -0.5em;
        margin-top: 0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo {
       height: 3em;
       padding-left: 2em;
       margin-right: 2em;
    }
    
    #title {
        font-size: 1em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }
    
    
    /*photo des wilder*/

    .ficheWilder , .photoWilder{
       
        text-align: center;
        animation: apparition 0.8s ease-out;
    }

    .photoWilder{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        align-items: center;   
    }

    h2{
        text-align: center;
        font-family: "Roboto","Ubuntu", "Open Sans", sans-serif;
        font-weight: normal;
        animation: apparition 0.8s ease-out;
    }


     /* description des wilders */

     .bodyWilder{
        display: block;
        border-radius: 50%;
        background-color: #EDD7B7;
        height: 10rem;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
        animation: apparition 0.8s ease-out;
        text-align: center;
        position: absolute;
        background: -moz-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
        background: -webkit-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
        background: linear-gradient(to bottom, #FAFFFC 0%, #A35B5B 100%, #A35B5B 100%);

    }

    .bodyWilder, p{
        display: flex;
        justify-content:center;
        position: relative;
        font-size: 94%;
        font-family:"Roboto","Ubuntu", "Open Sans", sans-serif;
        padding-left: 4%;
        padding-right: 4%;
        margin: 0;
    }

    
    
    /* logo réseaux sociaux */ 
    .informations, .socialMedia{
        text-align: center;
        animation: apparition 0.8s ease-out;
    }
    
    .socialMedia{
        display: inline;
        margin-top: 10%;
        justify-content: center;
    }
    

    .logoNotion{
        padding:10px;
        height: 10%;
        width:10%;
        
    }
    
    
    .logoSocialGit{
        height: 1%;
        width: 1%;
        padding-bottom: 3px;       
    }
    
    
    .logoSocialLinkedin{
        height: 19%;
        width: 19%;
        padding-bottom: 10px;
    }
    
    
    .logoMail{
        height:20%;
        width: 20%;
        padding-bottom: 8px;
    }
    
    
    @keyframes apparition{
        from{
            opacity: 0;
            transform: translateY(-400px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}
    
    
    /* mise en place de la version intermediere entre l'ipad et le mobile*/
    
@media screen and (max-width:540px) {

    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 8em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo {
       height: 3em;
       padding-left: 2em;
       margin-right: 2em;
    }
    
    #title {
        font-size: 2em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }
    
    
    /*photo des wilder*/

    .ficheWilder , .photoWilder{

        text-align: center;
    }

    .photoWilder{
        
        height: 40%;
        width: 40%;
        border-radius: 50%;
        align-items: center;
        animation: apparition 0.8s ease-out;
    }

    h2{
        text-align: center;
        font-family: "Roboto","Ubuntu", "Open Sans", sans-serif;
        font-weight: normal;
        animation: apparition 0.8s ease-out;
    }

    /* description des wilders */
    
    .bodyWilder{
        display: block;
        border-radius: 50%;
        font-family:"Ubuntu", "Roboto", "Open Sans", sans-serif;
        background-color: #EDD7B7;
        height: 10rem;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
        animation: apparition 0.8s ease-out;
        text-align: center;
    }

    .bodyWilder, p{
        display: flex;
        justify-content:center;
        position: relative;
        font-size: 95%;
        font-family:"Roboto","Ubuntu", "Open Sans", sans-serif;
    }

    
    /* logo réseaux sociaux */ 
    .informations, .socialMedia{
        text-align: center;
    }
    
    .socialMedia{
        display: inline;
        margin-top: 10%;
        animation: apparition 0.8s ease-out;
        justify-content: center;
    }
    

    .logoNation{
        padding:10px;
        height: 10%;
        width:10%;
        
    }
    
    
    .logoSocialGit{
        height: 1%;
        width: 1%;       
    }
    
    
    .logoSocialLinkedin{
        height: 19%;
        width: 19%;
        padding-bottom: 10px;
    }
    
    
    .logoMail{
        height:20%;
        width: 20%;
        padding-bottom: 8px;
    }
    

    @keyframes apparition{
        from{
            opacity: 0;
            transform: translateY(-400px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}
   
    
    /* mise en place de la version ipad*/
    
@media screen and (max-width:768px) {

    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 8em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo {
       height: 3em;
       padding-left: 2em;
       margin-right: 2em;
    }
    
    #title {
        font-size: 1.7em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }
    
    
    /*photo des wilder*/

    .ficheWilder , .photoWilder{

        text-align: center;
    }

    .photoWilder{
        
        height: 40%;
        width: 40%;
        border-radius: 50%;
        align-items: center;
        animation: apparition 0.8s ease-out;
    }

    h2{
        text-align: center;
        font-family: "Roboto","Ubuntu", "Open Sans", sans-serif;
        font-weight: normal;
        animation: apparition 0.8s ease-out;
    }

    /* description des wilders */
        
    .bodyWilder{
        display: block;
        border-radius: 50%;
        font-family:"Ubuntu", "Roboto", "Open Sans", sans-serif;
        background-color: #EDD7B7;
        height: 15rem;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
        animation: apparition 0.8s ease-out;
        text-align: center;

    }
    .bodyWilder, p{
        display: flex;
        justify-content:center;
        position: relative;
        font-size: 95%;
        font-family:"Roboto","Ubuntu", "Open Sans", sans-serif;
    }
    
    /* logo réseaux sociaux */

    .informations, .socialMedia{
        text-align: center;
    }
    
    .socialMedia{
        display: inline;
        margin-top: 10%;
        animation: apparition 0.8s ease-out;
        justify-content: center;
    }
    

    .logoSocial{
        padding:10px;
        height: 10%;
        width:10%;
        
    }
    
    
    .logoSocialGit{
        height: 10%;
        width: 14%;       
    }
    
    
    .logoSocialLinkedin{
        height: 19%;
        width: 19%;
        padding-bottom: 10px;
    }
    
    
    .logoMail{
        height:20%;
        width: 20%;
        padding-bottom: 8px;
    }
    

   
    @keyframes apparition{
        from{
            opacity: 0;
            transform: translateY(-400px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}
   @media screen and (max-width:1023px) { 

   #headBanner {
    background-color: #A35B5B;
    width: 100%;
    height: 8em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 1rem;
    padding-right: 1.1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   height: 3em;
   padding-left: 2em;
   margin-right: 2em;
}

#title {
    color: white;
    padding-right: 0.5em;
    text-align: center;
    font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
}


/*photo des wilder*/

.ficheWilder , .photoWilder{

    text-align: center;
}

.photoWilder{
   
    height: 40%;
    width: 40%;
    border-radius: 50%;
    align-items: center;
    animation: apparition 0.8s ease-out;
}

h2{
    text-align: center;
    font-family: "Roboto","Ubuntu", "Open Sans", sans-serif;
    font-weight: normal;
    animation: apparition 0.8s ease-out;
}

/* description des wilders */
    
.bodyWilder{
    display: block;
    border-radius: 50%;
    font-family:"Ubuntu", "Roboto", "Open Sans", sans-serif;
    background-color: #EDD7B7;
    height: 13rem;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    animation: apparition 0.8s ease-out;
    text-align: center;
}
.bodyWilder, p{
    display: flex;
    justify-content:center;
    position: relative;
    font-size: 95%;
    font-family:"Roboto","Ubuntu", "Open Sans", sans-serif;
}



/* logo réseaux sociaux */

.informations, .socialMedia{
    text-align: center;
}

.socialMedia{
    display: inline;
    margin-top: 10%;
    animation: apparition 0.8s ease-out;
    justify-content: center;
}


.logoSocial{
    padding:10px;
    height: 10%;
    width:10%;
    
}


.logoSocialGit{
    height: 10%;
    width: 14%;       
}


.logoSocialLinkedin{
    height: 19%;
    width: 19%;
    padding-bottom: 10px;
}


.logoMail{
    height:20%;
    width: 20%;
    padding-bottom: 8px;
}




@keyframes apparition{
    from{
        opacity: 0;
        transform: translateY(-400px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

}


@media screen and (min-width:1024px) {

    body{
        background: #FAFFFC;
        background: -moz-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
        background: -webkit-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
        background: linear-gradient(to bottom, #FAFFFC 0%, #A35B5B 100%, #A35B5B 100%);
        min-height: 98vh;
}

    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 10em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        }

    #logo {
        height: 5em;
        padding-left: 4em;
        margin-right: 2em;
    } 

    #title {
        font-size: 3em;
        color: white;
        padding-right: 2em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }

    .informations {
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
        background-color: white;
        display: inline-flex;
        flex-direction: column;
        margin-top: 50px;
        border-radius: 20rem;
        height: 37em;
        width: 100%;
        background: #FAFFFC;
        background: -moz-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
        background: -webkit-linear-gradient(top, #FAFFFC 0%, #A45D42 100%, #A35B5B 100%);
        background: linear-gradient(to bottom, #FAFFFC 0%, #A35B5B 100%, #A35B5B 100%);
    }

    #body-fiche{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

     .bodyWilder {
         width : 100%;
         text-align: center;
     }

     .socialMedia{
         width: 100%;
         display: inline-flex;
         align-items: center;
         margin-top: 6rem;
         text-align: center;
     }

    .logoSocial{
        padding:10px;
        height: 30%;
        width: 30%;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
            
    .logoSocialGit{
        height: 50%;
        width: 50%;
        margin-left: 5em;
        transform: rotateY(2turn);
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
            
    .logoSocialLinkedin{
        height: 40%;
        width: 40%;
        padding-bottom: 5px;
        margin-left: 3em;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
            
    .logoMail{
        height:40%;
        width: 40%;
        padding-bottom: 8px;
        margin-right: 3em;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }


    @keyframes rotate
{  
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}


    .ficheWilder {
         width: 100%;
         height: 100%;
         margin-top: 2rem;
         justify-content: center;
     }



     .photoWilder {
         width: 70%;
         height: 70%;
         border-radius: 50%;
         animation-name: slideIn;
         animation-duration: 6s;
         animation-iteration-count: 1;
     }


     @keyframes slideIn {
        0% {
          transform: translate(0%, 0%);
        }
        50% {
          transform: translate(43%, 0%);
        }
        100% {
          transform: translate(0%, 0%);
        }
      }
      

     h2{
        font-size: 2em;
        text-align: center;
        margin-top: 1em;
     }

   
     button{
         display: none;
     }

}
