body{
    margin: 0%;
    padding: 0%;
}
 /* version mobile fiche wilder */
@media screen and (max-width:375px){
    
    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 8em;
        margin-left: -0.5em;
        margin-top: 0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo {
       height: 3em;
       padding-left: 2em;
       margin-right: 2em;
    }
    
    #title {
        font-size: 1em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }
    
    
    /*photo des wilder*/

    .ficheWilder , .photoWilder{
       
        text-align: center;
        animation: apparition 0.8s ease-out;
    }

    .photoWilder{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        align-items: center;   
    }

    
    
    /* logo réseaux sociaux */ 
    .informations, .socialMedia{
        text-align: center;
        animation: apparition 0.8s ease-out;
    }
    
    .socialMedia{
        display: inline;
        margin-top: 10%;
        justify-content: center;
    }
    

    .logoSocial{
        padding:10px;
        height: 10%;
        width:10%;
        
    }
    
    
    .socialMedia > .logoSocialGit{
        height: 1%;
        width: 1%;       
    }
    
    
    .logoSocialLinkedin{
        height: 19%;
        width: 19%;
        padding-bottom: 10px;
    }
    
    
    .logoMail{
        height:20%;
        width: 20%;
        padding-bottom: 8px;
    }
    

    /* description des wilders */
    
    .bodyWilder{
        display: block;
        border: 1px solid black; 
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
        animation: apparition 0.8s ease-out;
        box-shadow: 1px 1px 1px black;
        text-align: center;

    }
    
    
    
    @keyframes apparition{
        from{
            opacity: 0;
            transform: translateY(-400px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}
    
    
    /* mise en place de la version intermediere entre l'ipad et le mobile*/
    
@media screen and (max-width:540px){

    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 8em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo {
       height: 3em;
       padding-left: 2em;
       margin-right: 2em;
    }
    
    #title {
        font-size: 2em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }
    
    
    /*photo des wilder*/

    .ficheWilder , .photoWilder{

        text-align: center;
    }

    .photoWilder{
        
        height: 40%;
        width: 40%;
        border-radius: 50%;
        align-items: center;
        animation: apparition 0.8s ease-out;
    }
    
    /* logo réseaux sociaux */ 
    .informations, .socialMedia{
        text-align: center;
    }
    
    .socialMedia{
        display: inline;
        margin-top: 10%;
        animation: apparition 0.8s ease-out;
        justify-content: center;
    }
    

    .logoSocial{
        padding:10px;
        height: 10%;
        width:10%;
        
    }
    
    
    .socialMedia > .logoSocialGit{
        height: 1%;
        width: 1%;       
    }
    
    
    .logoSocialLinkedin{
        height: 19%;
        width: 19%;
        padding-bottom: 10px;
    }
    
    
    .logoMail{
        height:20%;
        width: 20%;
        padding-bottom: 8px;
    }
    

    /* description des wilders */
    
    .bodyWilder{
        display: block;
        border: 1px solid black; 
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
        animation: apparition 0.8s ease-out;
        box-shadow: 1px 1px 1px black;
        text-align: center;

    }
    
    
    
    @keyframes apparition{
        from{
            opacity: 0;
            transform: translateY(-400px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}
   
    
    /* mise en place de la version ipad*/
    
@media screen and (max-width:768px){

    #headBanner {
        background-color: #A35B5B;
        width: 100%;
        height: 8em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo {
       height: 3em;
       padding-left: 2em;
       margin-right: 2em;
    }
    
    #title {
        font-size: 1.7em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
        font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
    }
    
    
    /*photo des wilder*/

    .ficheWilder , .photoWilder{

        text-align: center;
    }

    .photoWilder{
        
        height: 40%;
        width: 40%;
        border-radius: 50%;
        align-items: center;
        animation: apparition 0.8s ease-out;
    }

    /* description des wilders */
        
    .bodyWilder{
        display: block;
        border: 1px solid black;
        font-size: 150%; 
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10px;
        margin-right: 10px;
        animation: apparition 0.8s ease-out;
        box-shadow: 1px 1px 1px black;
        text-align: center;

    }

    
    /* logo réseaux sociaux */

    .informations, .socialMedia{
        text-align: center;
    }
    
    .socialMedia{
        display: inline;
        margin-top: 10%;
        animation: apparition 0.8s ease-out;
        justify-content: center;
    }
    

    .logoSocial{
        padding:10px;
        height: 10%;
        width:10%;
        
    }
    
    
    .logoSocialGit{
        height: 10%;
        width: 14%;       
    }
    
    
    .logoSocialLinkedin{
        height: 19%;
        width: 19%;
        padding-bottom: 10px;
    }
    
    
    .logoMail{
        height:20%;
        width: 20%;
        padding-bottom: 8px;
    }
    

   
    
    
    
    @keyframes apparition{
        from{
            opacity: 0;
            transform: translateY(-400px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}
   @media screen and (max-width:1023px){ 

   #headBanner {
    background-color: #A35B5B;
    width: 100%;
    height: 8em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 1rem;
    padding-right: 1.1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   height: 3em;
   padding-left: 2em;
   margin-right: 2em;
}

#title {
    color: white;
    padding-right: 0.5em;
    text-align: center;
    font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
}


/*photo des wilder*/

.ficheWilder , .photoWilder{

    text-align: center;
}

.photoWilder{
   
    height: 40%;
    width: 40%;
    border-radius: 50%;
    align-items: center;
    animation: apparition 0.8s ease-out;
}

/* description des wilders */
    
.bodyWilder{
    display: block;
    border: 1px solid black;
    font-size: 100%; 
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10px;
    margin-right: 10px;
    animation: apparition 0.8s ease-out;
    box-shadow: 1px 1px 1px black;
    text-align: center;

}


/* logo réseaux sociaux */

.informations, .socialMedia{
    text-align: center;
}

.socialMedia{
    display: inline;
    margin-top: 10%;
    animation: apparition 0.8s ease-out;
    justify-content: center;
}


.logoSocial{
    padding:10px;
    height: 10%;
    width:10%;
    
}


.logoSocialGit{
    height: 10%;
    width: 14%;       
}


.logoSocialLinkedin{
    height: 19%;
    width: 19%;
    padding-bottom: 10px;
}


.logoMail{
    height:20%;
    width: 20%;
    padding-bottom: 8px;
}






@keyframes apparition{
    from{
        opacity: 0;
        transform: translateY(-400px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

}


@media screen and (min-width:1024px){

    #logo {
        height: 5em;
    }
     
    #title {
        font-size: 3.5em;
        color: rgb(255, 255, 255);
        text-align: center;
    }
     
     
    footer{
        height:30px;
        background-color:#aee7ee;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
     
    .footer{
        text-decoration: none;
        color:black;
    }

    .informations {
        display: inline-flex;
        flex-direction: column;
    }

    #body-fiche{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .bodyWilder {
        width : 100%;
        margin-top: 2rem;
    }

    .socialMedia{
        width: 100%;
        display: inline-flex;
        align-items: center;
        margin-top: 2rem;
    }

    .logoSocial{
        padding:10px;
        height: 30%;
        width: 30%;
                
    }
            
    .logoSocialGit{
        height: 50%;
        width: 50%;
    }
            
    .logoSocialLinkedin{
        height: 40%;
        width: 40%;
        padding-bottom: 10px;
    }
            
    .logoMail{
        height:40%;
        width: 40%;
        padding-bottom: 8px;
    }



    .ficheWilder {
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
        padding-left: 4rem;
    }


    .photoWilder {
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }

    #headBanner {
        background-color: #aee7ee;
        width: 100%;
        height: 10em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        margin-bottom: 1rem;
        padding-right: 1.1em;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }

    #logo {
        height: 5em;
        padding-left: 4em;
        margin-right: 2em;
    }

    #title {
        font-size: 3em;
        color: white;
        padding-right: 0.5em;
        text-align: center;
    }

    