#headBanner {
    background-color: #fc8a59;
    width: 100%;
    height: 10em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 1rem;
    padding-right: 1.1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   height: 8em;
   padding-left: 2em;
   margin-right: 2em;
}

#title {
    font-size: 3.5em;
    color: white;
    padding-right: 0.5em;
}


/*Below is the class-chart style*/

@media screen and (min-width: 1024px) {

#frame {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

#logo-canvas {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#child-photo1 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    top: 16%;
}

#child-photo2 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: 33%;

}

#child-photo3 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 19%;
    top: 44%;

}

#child-photo4 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo5 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo6 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo7 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo8 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo9 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo10 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo11 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo12 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo13 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo14 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo15 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo16 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo17 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo18 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo19 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

#child-photo20 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 34.5%;
    top: 33%;

}

}
=======















































































































































































































































































































html, body {
    margin:0;
    padding:0;
    }

#headBanner {
    background-color: #aee6ee;
    width: 100%;
    height: 100px;
    display:flex;
}

#logo {
   height: 100px;
   margin-bottom: -110px;
   
}

#title {
    font-size: 5em;
    color: rgba(8, 8, 8, 0.781);
    text-align: center;
}

.photo{
    /*  width:40%; */
      border-radius:90%;
      margin-bottom:10px;
      }


footer{
   
    height:30px;
    background-color:#aee6ee;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.footer{
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 768px) { 
   
    #headBanner {
        background-color: #aee6ee;
        width: 100%;
        height: 100px;
        display:flex;
    }
    
    #logo {
       height: 90px;
       margin-bottom: -110px;
      
    }
    
    #title {
        font-size: 2em;
        color: rgba(8, 8, 8, 0.781);
        text-align: center;
    }
    
 
   /* .parent-card{        
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    }

    .card{
    justify-content: center;
    margin-bottom:10px;
        }
    */
    
    .parent-card{
        display:flex;https://beataskorek.art/wp-content/uploads/2021/02/portfolio1.jpg

    .card{
    justify-content: center;  
    flex-basis: calc(30% - 30px);
    padding:10px;    
    }

    .card p{
        text-align: center;
    }

    .card p a{
        text-decoration: none;
        color:black;
        justify-content: center;
         margin-bottom:10px;
    }

    footer{
   
        height:30px;
        background-color:#aee6ee;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .footer{
        text-decoration: none;
        color:black;
    }
    
}


@media screen and (max-width: 375px) { 

    #headBanner {
        background-color: #aee6ee;
        width: 100%;
        height: 90px;
        display:flex;
    }
    
    #logo {
       height: 60px;
       margin-bottom: -110px;
      
    }
    
    #title {
        font-size: 1.5em;
        color: rgba(8, 8, 8, 0.781);
        text-align: center;
    }

.parent-card{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}


.card{
    justify-content: center;
     margin-bottom:10px;
}

.card p a{
    text-decoration: none;
    color:black;
    justify-content: center;
     margin-bottom:10px;
}

.photo{
   /* width:40%; */
    border-radius:70%;
    margin-bottom:10px;
    }

    footer{
   
        height:30px;
        background-color:#aee6ee;
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .footer{
        text-decoration: none;
        color:black;
    }
    
  }
