#headBanner {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#logo {
    height: 4rem;
    width: 4.5rem;
}

#title {
    font-size: 1.5rem;
    color: rgba(219, 91, 59, 0.781);
}

/*#cardsPanel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}*/

.parent-card {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

/*Below is the class-chart style*/

#frame {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

#logo-canvas {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.parent-photo {
    position: relative;
}

#child-photo1 {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    left: 27.3rem;
    top: 5rem;
}

#child-photo2 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    left: 46rem;
    top: 10rem;

}